
/*manter no centro*/
.silvana {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}
/*subtitulo*/
.container h2 {
    color: rgb(12, 12, 15);
    font-family: Italic, sans-serif;
    font-size: 17px;
    margin: 0;
    white-space: nowrap;
}
/*titulo*/
.container h1 {
    color: rgb(12, 12, 15);
    font-family: Italic, sans-serif;
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
}
/*numero*/
.container h3 {
    color: rgb(12, 12, 15);
    font-family: Italic, sans-serif;
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
}

.cards {
    width: 160%;
    background-color: rgb(175, 159, 159);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 20px 50px 200px rgba(228, 0, 0, 0.2);
    padding: 30px;
    margin-left: -200px;
}

.cards h1 {
    text-align: left;
    margin: 0 0 10px 610px;
}

.cards h3 {
    text-align: left;
    margin: 0 0 0 60px;
}

.card{
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(236, 114, 114);
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-cont {
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}