.silvana {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container h1 {
    color: rgb(12, 12, 15);
    font-family: Italic, sans-serif;
    font-size: 24px;
    margin: 0;
    white-space: nowrap;
}

.container img {
    width: 120px;
    height: auto;
}
